:root {
    --board-dimension: 600px;
    --cell-dimension: calc(var(--board-dimension) / 16);
}

* {
    margin: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board{
    display: flex;
    width: var(--board-dimension);
    height: var(--board-dimension);
    flex-direction: column;

}



.cell{
    height: var(--cell-dimension);
    width: var(--cell-dimension);
    border: 1px rgba(0, 0, 0, 0.158) solid;
    
    background-color: white;
    box-sizing: border-box;
}

.row{
    display: flex;
}